@model SitefinityWebApp.Mvc.Models.ScriptAddTimeStampModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Services;

@if (Model.ScriptFilePath != string.Empty)
{
    Html.Script(Url.WidgetContent(Model.ScriptFilePath + "?ts=" + DateTime.Now), "bottom");
}

@if (SystemManager.IsDesignMode)
{
    <div>@Model.ScriptFilePath</div>
}