@model SitefinityWebApp.Mvc.Models.StyleAddTimeStampModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Services;

@if (Model.StyleFilePath != string.Empty)
{
    Html.StyleSheet(Url.WidgetContent(Model.StyleFilePath + "?ts=" + DateTime.Now), "head", true);
}

@if (SystemManager.IsDesignMode)
{
    <div>@Model.StyleFilePath</div>
}