<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.3.8000.0">
	<databaseMappingOptions splitTablesIgnoredCultures="en,id" />
	<connectionStrings>
		<add connectionString="data source=pplmy-imw-staging-svr01.database.windows.net;UID=imwadmin;PWD=2023@IhhDb;initial catalog=IHH_Staging_Ver14_3_8000_2023" dbType="SqlAzure" MultipleActiveResultSets="True" name="Sitefinity" />
	</connectionStrings>
</dataConfig>
