<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.3.8000.0" viewName="AppointmentsBackendEditView" config:flags="1">
	<sections>
		<sections name="MainSection" config:flags="1">
			<fields>
				<field hidden="True" fieldName="ImageBase64" config:flags="1" />
			</fields>
		</sections>
	</sections>
</view>