<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.3.8000.0" viewName="DoctorsBackendInsertView" config:flags="1">
	<sections>
		<sections name="MainSection" config:flags="1">
			<fields>
				<field hidden="True" fieldName="Description" config:flags="1" />
				<field hidden="True" fieldName="ProceduresPerformed" config:flags="1" />
				<field hidden="True" fieldName="ConditionsTreated" config:flags="1" />
				<field hidden="True" fieldName="DoctorStatus" config:flags="1" />
				<field hidden="True" fieldName="MainSpecialtyName" config:flags="1" />
				<field hidden="True" fieldName="SubSpecialtyName" config:flags="1" />
				<field hidden="True" fieldName="HospitalName" config:flags="1" />
				<field hidden="True" fieldName="Location" config:flags="1" />
				<field hidden="True" fieldName="Brand" config:flags="1" />
			</fields>
		</sections>
		<sections name="Classification" config:flags="1">
			<fields>
				<field hidden="True" fieldName="HospitalClassification" config:flags="1" />
			</fields>
		</sections>
	</sections>
</view>