<?xml version="1.0" encoding="utf-8"?>
<dynamicModulesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.3.8000.0">
	<providers>
		<add title="IHHDynamicModuleProvider" description="IHHDynamicModuleProvider" applicationName="myCustomProvider" type="SitefinityWebApp.IHHDynamicModuleProvider" name="IHHDynamicModuleProvider" />
	</providers>
	<contentViewControls>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.Form.AppointmentsBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="AppointmentsBackendEditView" configFile="DynamicModulesConfig.Form.Appntmnt1317008950_tsBckndEdtVw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.Hospitals.DoctorsBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="DoctorsBackendInsertView" configFile="DynamicModulesConfig.Hospitals.Doctors-1263729014_BckndInsrtVw.config" />
				<config:lazy key="DoctorsBackendEditView" configFile="DynamicModulesConfig.Hospitals.Doctors-1263729014_rsBckndEdtVw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.Hospitals.ContactinfosBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="ContactInfosBackendInsertView" configFile="DynamicModulesConfig.Hospitals.Cntctnfs1447751522_BckndInsrtVw.config" />
				<config:lazy key="ContactInfosBackendPreviewView" configFile="DynamicModulesConfig.Hospitals.Cntctnfs1447751522_sBckndPrvwVw.config" />
				<config:lazy key="ContactInfosBackendEditView" configFile="DynamicModulesConfig.Hospitals.Cntctnfs1447751522_fsBckndEdtVw.config" />
				<config:lazy key="ContactInfosBackendDuplicateView" configFile="DynamicModulesConfig.Hospitals.Cntctnfs1447751522_BckndDplctVw.config" />
				<config:lazy key="ContactInfosBackendVersionPreview" configFile="DynamicModulesConfig.Hospitals.Cntctnfs1447751522_ckndVrsnPrvw.config" />
			</views>
		</contentViewControl>
	</contentViewControls>
</dynamicModulesConfig>