<?xml version="1.0" encoding="utf-8"?>
<notificationsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.3.8000.0">
	<profiles>
		<add defaultSenderEmailAddress="noreplyemail@ihhhealthcare.com" defaultSenderName="International Patient Helpdesk" host="smtp.office365.com" port="587" useAuthentication="True" username="noreplyemail@ihhhealthcare.com" password="[sf-scrt-rslvr=Encrypt]KpDcfQs89zSwKmZCMvZDZHHBFrUGuBIHBDzFZi0P7PU6qGiII78R9CbOzIbL7WSJQWVzV2l0aEhtYWMjK99/atIPdz3fL2ECCRh19WqCtY5EVj1mlNzaDdqt5g==" useSSL="True" profileName="Default" config:flags="1" />
	</profiles>
</notificationsConfig>