<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.3.8000.0" accessControlAllowOrigin="*" authCookieName=".SFAUTH-IHH-Demo-ver2" rolesCookieName=".SFROLES-IHH-Demo-ver2" validationKey="287AFF75F7FEEF6C1946E6267ACC70F52A70E9DE71C3FAC015668FA6E05AD66B26F4808502FC8A8916F35C63FBC4243490E380204E60C28DEEB1B08E534E3A92" decryptionKey="6273300B682EADAD83531BEC08C6B410C748E0B4E939ED323E4C8A3B6193255A" loggingCookieName=".SFLOG-IHH-Demo-ver2">
	<securityTokenIssuers>
		<add key="88BB19912997745C7BF6B37FF93D7FA60E19D5FB2ADCB9AC1F2D434E333B1BC4" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="88BB19912997745C7BF6B37FF93D7FA60E19D5FB2ADCB9AC1F2D434E333B1BC4" realm="http://localhost" />
	</relyingParties>
</securityConfig>