<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.3.8000.0">
	<applicationModules>
		<add startupType="OnApplicationStart" name="Synchronization" config:flags="1" />
	</applicationModules>
	<typeImplementationsMapping>
		<add type="Telerik.Sitefinity.Web.UI.ContentUI.Config.ContentViewDefinitionElement, Telerik.Sitefinity" config:key="3" config:flags="1" />
	</typeImplementationsMapping>
	<siteUrlSettings replaceSiteUrl="True" />
	<outputCacheSettings defaultProfile="No Caching" defaultClientProfile="No Caching" defaultDocumentProfile="No Caching" defaultVideoProfile="No Caching">
		<profiles>
			<add maxAge="60" name="No Caching" config:flags="1" />
			<add maxAge="120" name="Standard Caching" config:flags="1" />
			<add duration="120" maxAge="1200" name="Long Caching" config:flags="1" />
			<add location="Any" duration="300" maxAge="300" proxyMaxAge="300" name="Custom" />
		</profiles>
		<mediaProfiles>
			<add location="Any" duration="300" maxAge="300" proxyMaxAge="300" name="Custom" />
		</mediaProfiles>
	</outputCacheSettings>
	<contentLocationsSettings disabled="True" enableSingleItemModeWidgetsBackwardCompatibilityMode="True" />
</systemConfig>