@using SitefinityWebApp.Helpers;
@{
    var urlPath = FrontendUrlHelper.GetCurrentPageAbsolutePath();
    var logo = "glen-logo-white.png";
    var hrefUrl = "/";
}

@if (urlPath.ToLower().Contains("kota-kinabalu"))
{
    logo = "glen-logo-white-gkk.png";
    hrefUrl = "/kota-kinabalu";
}
else if (urlPath.ToLower().Contains("kuala-lumpur"))
{
    logo = "glen-logo-white-gkl.png";
    hrefUrl = "/kuala-lumpur";
}
else if (urlPath.ToLower().Contains("medini-johor"))
{
    logo = "glen-logo-white-gmh.png";
    hrefUrl = "/medini-johor";
}
else if (urlPath.ToLower().Contains("penang"))
{
    logo = "glen-logo-white-gpg.png";
    hrefUrl = "/penang";
}

<a href="@hrefUrl"><img src="/ResourcePackages/Gleneagles/assets/dist/images/@logo" alt=""
        style="object-fit: scale-down;" data-hiden="@urlPath" /></a>